# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

# Virtual environment
.venv/
venv/
ENV/
env/

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/
*.code-workspace

# OS specific
.DS_Store
Thumbs.db

# Migrations cache (ихтиёрий, агар миграцияларни commit қилмасангиз)
# */migrations/*.py
# !*/migrations/__init__.py
